
.result input {
  height: 100px;
  background-color: aliceblue;
  width: 75%;
  padding-left: 20px;
  text-align: right;
  padding-right: 20px;
  border-style: double;
  font-size: 40px;
  padding-top: 10px;
  margin-top: 80px;
}

.result.row{
  /* margin-left:15;
  margin-right:15; */
}

.keypadRow{
  width:75%;

}

/* .result.row {
  display: flex;
  flex-wrap: wrap;
  margin-left: 15;
  margin-right:15;
} */


.btn-primary.digitKey {
  color: black;
  background-color: white;
  border-color: grey;
}

.btn-primary.equalKey {
  background-color: green;
  color: white;
  font-weight: 500;
  font-size: 30px;
}

.btn-primary.equalKey:hover {
  background-color: darkcyan;
  color: white;
}

.btn-primary.operatorKey {
  background-color: white;
  color: green;
  font-weight: 100;
  font-size: 16px;
}
.btn-primary.operatorKey:hover {
  color: #fff;
  background-color: darkcyan;
  border-color: white; /*set the color you want here*/
}

.btn-primary.functionKey {
  background-color: white;
  color: green;
  font-weight: 200;
  font-size: 20px;
}

.btn-primary.functionKey:hover {
  color: #fff;
  background-color: firebrick;
  border-color: white; /*set the color you want here*/
}

.btn-primary.functionKeyRed {
  background-color: white;
  color: firebrick;
  font-weight: 600;
  font-size: 20px;
}
.btn-primary.functionKeyRed:hover,
.btn-primary.functionKeyRed:focus,
btn-primary.functionKeyRed:active {
  background-color: firebrick;
  color: white;
  border-color: white;
}

.button {
  display: block;
  width: 100%;
}

Button {
  width: 25%;
  height: 60px;
}
